Source: opencast-pyca
Section: misc
Priority: optional
Maintainer: Sven Haardiek <sven@haardiek.de>
Uploaders: Lars Kiesow <lkiesow@uos.de>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools, debhelper-compat (= 12), dh-sequence-python3, npm
Standards-Version: 4.3.0
Homepage: https://github.com/opencast/pyCA

Package: opencast-pyca
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-gunicorn
Recommends: ffmpeg
Description: Opencast Capture Agent
 PyCA is a fully functional Opencast capture agent written in Python. It is
 free software licensed under the terms of the GNU Lesser General Public
 License.
