#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=pyca

%:
	dh $@ --buildsystem=pybuild

# Although it would be nice to test here, it is not worth manually installing
# the runtime dependencies
override_dh_auto_test:
